<footer  style="display: flex;
flex-direction: column;
justify-content: space-between;">
  <div><iframe class="footer-video" width="100%" height="200" src="https://www.youtube.com/embed/L0m9ZuY_kwg?controls=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="instagram">
    <a href="https://www.instagram.com"><img src="catalog/view/theme/default/image/inst.jpg" alt="" width="100%" height="90"></a>
  </div>
  <div class="tiktok">
    <a href="https://www.tiktok.com"><img src="catalog/view/theme/default/image/tik tok.jpg" alt="" width="100%" height="90"></a>
  </div>
  <div class="facebook">
    <a href="https://www.facebook.com"><img src="catalog/view/theme/default/image/фейсбук.jpg" alt="" width="100%" height="90"></a>
  </div></div>
  <div style="display:flex; justify-content: flex-end; flex-direction: column; text-align:center; "><div class="footer-info" style="color:white; background: black; font-family: "Pacifico",serif;"><h4>ООО "Анимеворлд"
Адрес: г. Минск, ул. Налибокская 1, ТЦ "Караван"
р/с BY48REDJ30121003871470100933 в ЗАО "РРБ-Банк" 
Код REDJBY22    
УНП 719278791</h4></div></div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/index.js"></script>
<script src="catalog/view/javascript/custom/add-to-cart.js"></script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>
</html>