{% if categories %}
  <ul class="submenu">
    {% for category in categories %}
      <li class="submenu-item">
        <a class="submenu-item__link">{{ category.name }}</a>
        <ul class="submenu-sublist">
          {% for child in category.children %}
            <li class="submenu-sublist-item">
              <a class="submenu-sublist-item__link">{{ child.name }}</a>
              <ul class="submenu-sublist">
                {% for product in child.products %}
                <li class="submenu-sublist-item">
                  <a class="submenu-sublist-item__link" href="">{{ product.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endif %}