.bm-grid-item {
    margin-bottom: 60px;
    border-bottom: 4px solid rgba(255, 255, 255, .4);
    padding-bottom: 60px;
}

.bm-posts {
    padding: 5% 10%;
}

.post-thumb {
    display: flex;
    justify-content: space-between;
}

.post-thumb-info {
    width: 70%;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.post-thumb .image .image-img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.post-thumb-heading .category {
    font-family: 'DaysOne', sans-serif;
    margin-bottom: 20px;
}

.post-thumb-heading .category .category-link {
    color: #fff;
}

.post-thumb-heading .title {
    font-family: "Pacifico", sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.post-thumb-heading .title .title-link {
    color: orange;
}

.post-thumb-body {
    font-family: "DaysOne", sans-serif;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-thumb-body .short-description {
    color: rgba(255, 255, 255, .7);
    margin: 30px 0 50px 0;
    font-size: 20px;
}

.post-thumb-data {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: rgba(255, 255, 255, .5);
}

.bm-post__img {
    width: 100%;
}

.bm-post .heading,
.bm-post .content {
    padding: 20px;
}

.bm-post .heading .bm-post__category-link {
    font-size: 25px;
    color: #fff;
}

.bm-post .heading .title {
    font-size: 80px;
    color: orange;
}

.bm-post .description {
    font-family: 'DaysOne', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.bm-post .description * {
    margin-bottom: 10px;
}

.bm-post .category {
    text-align: left;
}

.bm-post__back {
    margin-top: 100px;
    display: block;
    padding: 20px 25px;
    font-family: "DaysOne", sans-serif;
    background-color: orange;
    color: black;
    transition: .7s ease-in-out;
    width: 200px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.bm-post__back:hover {
    color: white;
    background: black;
}

@media screen and (max-width: 1800px) {
    .post-thumb-body {
        width: 100%;
    }

    .post-thumb-data {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    .bm-grid-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .post-thumb {
        flex-direction: column;
    }

    .post-thumb .image .image-img {
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    .post-thumb-heading .category {
        margin: 20px 0;
    }

    .post-thumb-heading .title {
        text-align: center;
    }

    .post-thumb-info {
        margin-left: 0;
        width: 100%;
        display: flex;
    }

    .post-thumb-data {
        flex-direction: row;
    }

    .post-thumb-body .short-description {
        text-align: center;
    }

    .post-thumb-data {
        justify-content: end;
    }

    .post-thumb-data span:not(:last-child) {
        margin: 0 10px;
    }
}

@media screen and (max-width: 500px) {
    .post-thumb-heading .title {
        font-family: "Pacifico", sans-serif;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .post-thumb-body .short-description {
        color: rgba(255, 255, 255, .7);
        margin: 30px 0 50px 0;
        font-size: 20px;
    }

    .post-thumb-data {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .post-thumb-data {
        font-size: 9px;
    }
}