#custom-total {
    font-size: 24px;
}

#input-comment {
    resize: none;
    height: 100px;
    max-width: 60%;
    border: 0;
    border-bottom: 5px solid rgba(225, 225, 225, 0.5);
    font-size: 1.3vw;
    transition: .7s ease-in-out;
    background: none;
    color: #fff;
}

.cart-count {
    line-height: .8!important;
    padding: 10px;
    font-size: 16px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;
    left: -20px;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}

.header-footer-a {
    display: block;
}

.custom-comment-heading {
    margin-bottom: 30px;
}

.custom-comment-select {
    height: 40px;
    max-width: 40%;
    border: 0;
    border-bottom: 5px solid rgba(225, 225, 225, 0.5);
    font-size: 1.3vw;
    transition: .7s ease-in-out;
    background: none;
    color: #fff;
    margin-bottom: 20px;
}

.custom-comment-option {
    height: 40px;
    max-width: 40%;
    border: 0;
    font-size: 1.3vw;
    transition: .7s ease-in-out;
    background: #000;
    color: #fff;
}

.splide__arrow img {
    width: 100%;
    height: 100%;
}

.delivery {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 40px 40px;
}

.delivery-heading, .delivery-comment {
    text-align: center;
    margin-bottom: 40px;
}

.product-menu-item__heading {
    z-index: -2;
}

.product-menu-item__order {
    z-index: 2;
}

.product-menu-item__description {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    opacity: 0;
    transition: opacity .5s ease-out;
}

.product-menu-item__description-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);;
    opacity: 0;
    transition: opacity .5s ease-out;
    cursor: pointer;
}

.product-menu-item__description:hover, .product-menu-item__description > .product-menu-item__description-bg {
    opacity: .9;
}

.product-menu-item__description span {
    color: #fff !important;
}

.product-menu-item__img {
    position: relative;
    left: -25%;
    width: auto !important;
    height: auto !important;
}

.product-menu-item__heading {
    font-size: 20px !important;
}

.product-menu-item__img-wrapper {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.post-thumb-heading .title {
    font-size: 36px !important;
}

.post-thumb-body .short-description {
    font-size: 18px !important;
}

.button-load {
    width: 148px;
    display: none;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    text-align: center;
}

.product-menu-item__count-submit,
.product-pop-up--active .product-menu .product-menu-item .product-menu-item__count {
    display: none;
    margin-bottom: 5px;
}

.product-menu-item__count-submit {
    width: 40%;
    height: 75%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: orange;
}

.product-pop-up--active .product-menu .product-menu-item .product-menu-item__count {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    visibility: visible !important;
    width: 60% !important;
    margin-left: 5px;
    height: 75%;
    background-color: #fff !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    color: #000;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .cart-count {
        font-size: 1.3em;
        width: 3em;
        height: 2em;
        top: -15px;
    }
}