{{ header }}
<main>
  <div class="delivery">
    <h1 class="delivery-heading">Информация о доставке</h1>
    <span class="delivery-comment">Кликните по цветному району чтобы посмотреть сколько будет стоить доставка туда</span>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A28605b3c3dfcf56cbb7dfc2a9923c1c11d75108a59150b7d5eb1fe7db633e3d2&amp;width=1136&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</main>
{{ footer }}